  body{
            background-color: rgb(245, 222, 179);
        }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Sidebar */  

    .user-img {
        width:50px;
        border-radius: 100%;
        border: 1px solid white;
    }

    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 80px;
        background-color: rgb(251, 243, 226);
        padding: .4rem .8rem;
        transition: all 0.5s ease;
    }

    .sidebar.active ~ .main-content {
        left: 250px;
        width: calc(100% - 250px);
    }

    .sidebar.active {
        width: 250px;
    }

    .sidebar #btn {
        position: absolute;
        color: black;
        top: .4rem;
        left: 50%;
        font-size: 1.2rem;
        line-height: 50px;
        transform: translateX(-50%);
        cursor: pointer;
    }

    .sidebar.active #btn {
        left: 90%;
    }

    .sidebar .top .logo {
        color: black;
        display: flex;
        height: 50px;
        width: 100%;
        align-items: center;
        pointer-events: none;
        opacity: 0;
    }

    .sidebar.active .top .logo {
        opacity: 1;
    }

    .top .logo i {
        font-size: 2rem;
        margin-right: 5px;
    }

    .user {
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }

    .user p {
        color: Blue;
        opacity: 1;
        margin-left: 1rem;
    }

    .bold {
        font-weight: 600;
    }

    .sidebar p{
        opacity: 0;

    }

    .sidebar.active p{
        opacity: 1;
    }

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a{
    color: black;
    display: flex;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background-color: black;
    color: green;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgb(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.main-content{
    position: relative;
    background-color: rgb(245, 222, 179);
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
}

/*slider of images*/
.slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

figure{
    position: relative;
    left: 0;
    width: 400%; /* width dikali slide */
    animation: 10s slide infinite;
}

.slide{
    position: relative;
    width: 25%; /* width dibagi slide */
    float: left;
}

.slide h1{
    position: absolute;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.slide img{
    width: 100%;
    height: 500px;
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0;
    }
    1000%{
        left:0;
    }

}


/* Style the Sticky icons on web page */  
.stickyicon-list {   
position: fixed;   
top: 200px;   
transform: translateY(-50px); 
transition: .8s;            
}         
.stickyicon-list a {   
display: block;   
text-align: center;   
padding: 8px;   
transition: all 0.5s ease;   
color: white;   
font-size: 20px;   
}         
/* HOver affect on sticky social media icons */   
.stickyicon-list a:hover {   
color: #000;   
width:10px;   
}   
   
/* Now we have to design each icon of social media */         
.facebook {   
background: #3b5998;   
color: white;  
}         
  
.instagram {   
background: #3f729b;   
color: white;   
} 

/* Adventures */

.PhoebeBeach {
    width: 200px;
    height: 350px;
}

.StormiBeach {
    width: 200px;
    height: 350px;
}

.StormiCarride {
    width: 200px;
    height: 350px;
}

.Whittier {
    width: 200px;
    height: 350px;
}

/* selfies */
 *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        display: inline-block;
    }

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper.wide {
    grid-column: span 2;
}

.grid-wrapper .tall{
    grid-row: span 2;
}

.grid-wrapper .big{
    grid-column: span 2;
    grid-row: span2;
}

/* services */

   *{
        margin: 0;
        padding: 0;
    }
    body{
        background: rgb(245, 222, 179)
    }
    h1{
        text-align: center;
        margin: 50px auto 120px !important;
        color: #fff;
    }
    .main{
        width: 100%;
        min-height: 380px;
        text-align: center;
        position: relative;
        cursor: pointer;

    }
    .service{
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        z-index: 1;
        box-shadow: 0 0 20px -15px #030380;
        transition: transform .8s;
    }
    .service-logo{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin: -90px auto 0;
        background: #fff;
        border: 18px solid rgb(251, 243, 226);
    }
    .service-logo img{
        width: 50px;
        margin-top: 20px;
        transition: transform 1s;
    }

    .service h4{
        height: 35px;
        width: 80%;
        background: #fff;
        margin: 50px auto;
        position: relative;
    }
    .service h4::after{
        content: '';
        width: 40px;
        height: 30px;
        background: linear-gradient(to right, #fff,rgb(251, 243, 226));
        position: absolute;
        right:-5px;
        top: -5px;
        z-index: -1;
    }
    .service h4::before{
        content: '';
        width: 40px;
        height: 30px;
        background: linear-gradient(to right, rgb(251, 243, 226),#fff);
        position: absolute;
        left:-5px;
        bottom: -5px;
        z-index: -1;
    }
    .shadowone{
        height: 200px;
        width: 80%;
        background: #fff;
        position: absolute;
        border-radius: 10px;
        bottom: 0;
        left: 10%;
        z-index: -1;
        box-shadow: 0 0 20px -15px #030380;
        transition: transform .8s;
    }
    .shadowtwo{
        height: 200px;
        width: 64%;
        background: #fff;
        position: absolute;
        border-radius: 10px;
        bottom: 0;
        left: 18%;
        z-index: -2;
    }
    .main:hover .service{
        transform: translateY(-50px);
    }
    .main:hover .shadowone{
        transform: translateY(-25px);
    }
    .main:hover .img{
        transform: rotate(360deg);
    }

    /* contact */

     *{
      margin: 0;
      padding: 0;
   }
   body{
      background: #55ffe5;
      font-size: 14px;
   }
   .container{
      width: 80%;
      margin: 50px auto;
   }
   .contact-box{
      background: #fff;
      display: flex;
   }
   .contact-left{
      flex-basis: 60%;
      padding: 40px 60px;
   }
   .contact-right{
      flex-basis: 40%;
      padding: 40px;
      background: gray;
      color: #fff;
   }
   h1{
      margin-bottom: 10px;
   }
   .container p{
      margin-bottom: 40px;
   }
   .input-row{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
   }
   .input-row .input-group{
      flex-basis: 45%;
   }
   input{
      width: 100%;
      border: none;
      border-bottom: 1px slid #ccc;
      outline: none;
      padding-bottom: 5px;
   }
   texttarea{
      width: 100%;
      border: 1px solid #ccc;
      outline: none;
      padding: 10px;
      box-shadow: border-box;
   }
   label{
      margin-bottom: 6px;
      display: block;
      color: gray;
   }
   button{
      background: #lc00b5;
      width: 100px;
      border: none;
      outline: none;
      color: #fff;
      height: 35px;
      border-radius: 30px;
      margin-top: 20px;
      box-shadow: 0px 5px 15px 0p rgba(28,0,181,0.3);
   }
   .contact-left h3{
      color:#lcoob5;
      font-weight: 600;
      margin-bottom: 30px;
   }
   .contact-right h3{
      
      font-weight: 600;
      margin-bottom: 30px;
   }
   tr td:first-child{
      padding-right: 20px;
   }
   tr td{
      padding-top: 20px;
   }

   #map {
    width: 100%;
    height: 400px;
    background: grey;
   }